@charset "UTF-8";
div{
	width : 500px;
	height : 50px;
	border : 1px solid #333;
	backgroud : #ff0;
}
div:nth-child(7){
	height : 150px;
}
.big{
	width : 500px;
	height : 50px;
	border : 1px solid #333;
	backgroud : #0ff;
}
.big > div:first-child{
	backgroud : #0f0;
	width : 80px;
	float : left;
}
.big > div:last-child{
	backgroud : #fa0;
	width : 300px;
}